# Logs and databases #
######################
*.log
*.sql
*.sqlite3

######################
# Pycharm related    #
######################
.idea
misc
.xml
*.iml
*.pyc
**/venv

#####################
# Other directories #
#####################
**/help-links
