{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock title %}

{% block content %}
    <form role="form" action="{% url 'player_login' %}" method="post">
        {% csrf_token %} <!-- This is used for security. The form will not work without this tag inside it. -->

        <p>Please login.</p>

        {{ form | crispy }} <!-- 'crispy' is a bootstrap filter to make the form look nicer. -->

        <button type="submit" class="btn btn-success"> Sign in </button>
    </form>
{% endblock content %}